<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>PSSTSupabaseHost</key>
	<string>$(PSST_SUPABASE_HOST)</string>
	<key>PSSTSupabaseAnonKey</key>
	<string>$(PSST_SUPABASE_ANON_KEY)</string>
	<key>PSSTAppGroup</key>
	<string>$(PSST_APP_GROUP)</string>
	<key>UIAppFonts</key>
	<array>
		<string>InterTight-Medium.ttf</string>
		<string>InterTight-SemiBold.ttf</string>
		<string>InterTight-Bold.ttf</string>
		<string>InterTight-ExtraBold.ttf</string>
		<string>InterTight-Black.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.psst.invite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>psst</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
